 {% extends app.request.isXmlHttpRequest() ? 'NineThousandJobqueueBundle::ajax.html.twig' : 'NineThousandJobqueueBundle::layout.html.twig' %}
 {% block title "Scheduled Jobs" %}
 {% block body %}
 <script>
    $(function() {
        $( "button", "#newjob form" ).button();
    });
  </script>
  <div id="newjob" >
    <h1>Job creation</h1>

    <form action="{{ path('jobqueue_scheduledjob_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>
 </div>
 {% endblock %}
